# @TAG(DATA61_BSD)
#

config APP_SWAPCOUNTER
    bool "Swap counter (FM2015 example)"
    default n
    help
        An example application that swaps two values and increments a global
        counter. This was used as an example in our submission to
        Formal Methods 2015.
