# @TAG(NICTA_BSD)
#

config APP_TESTCAMKES438
    bool "Test reply cap trampling"
    default n
    help
        This application tests for a regression of a previous bug whereby the
        saving of a reply cap in advance of RPC payload unmarshalling would
        cause the contents of the IPC buffer to be trampled.
