#
# Copyright 2017, Data61
# Commonwealth Scientific and Industrial Research Organisation (CSIRO)
# ABN 41 687 119 230.
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
# @TAG(DATA61_BSD)
#
#

mainmenu "CAmkES project configuration"

config COMMON_PATH
    string
    option env="COMMON_PATH"

menu "Kernel"
    source "kernel/Kconfig"
endmenu

menu "Libraries"
    source "libs/libmuslc/Kconfig"
    source "libs/libsel4/Kconfig"
    source "libs/libsel4muslcsys/Kconfig"
    source "libs/libsel4muslccamkes/Kconfig"
    source "libs/libsel4platsupport/Kconfig"
    source "libs/libsel4allocman/Kconfig"
    source "libs/libsel4utils/Kconfig"
    source "libs/libcpio/Kconfig"
    source "libs/libelf/Kconfig"
    source "libs/libsel4bench/Kconfig"
    source "libs/libsel4sync/Kconfig"
    source "libs/libsel4vspace/Kconfig"
    source "libs/libsel4vka/Kconfig"
    source "libs/libplatsupport/Kconfig"
    source "libs/libsel4debug/Kconfig"
    source "libs/libutils/Kconfig"
    source "libs/libsel4simple/Kconfig"
    source "libs/libsel4simple-default/Kconfig"
    source "libs/libsel4bga/Kconfig"
    source "libs/rumprun/Kconfig"
endmenu

menu "Applications"
    source "apps/capdl-loader-experimental/Kconfig"
    source "apps/uart/Kconfig"
    source "apps/epit/Kconfig"
    source "apps/keyboard/Kconfig"
    source "apps/attributes/Kconfig"
    source "apps/simple/Kconfig"
    source "apps/dataport/Kconfig"
    source "apps/event/Kconfig"
    source "apps/filter/Kconfig"
    source "apps/terminal/Kconfig"
    source "apps/mutex/Kconfig"
    source "apps/lockserver/Kconfig"
    source "apps/multiclient/Kconfig"
    source "apps/multiassembly/Kconfig"
    source "apps/hierarchical-components/Kconfig"
    source "apps/hierarchical-attributes/Kconfig"
    source "apps/global-imports/Kconfig"
    source "apps/swapcounter/Kconfig"
    source "apps/aeroplage/Kconfig"
    source "apps/binary-semaphore/Kconfig"
    source "apps/reversestring/Kconfig"

    source "apps/rotate/Kconfig"
    source "apps/dma-example/Kconfig"
    source "apps/adder/Kconfig"
    source "apps/structs/Kconfig"
    source "apps/socket/Kconfig"
    source "apps/multiplier/Kconfig"
    source "apps/exchangestring/Kconfig"
    source "apps/dhcp/Kconfig"
    source "apps/testsel4notification/Kconfig"
    source "apps/testdataportmux/Kconfig"
    source "apps/testunderscorename/Kconfig"
    source "apps/testrefin/Kconfig"
    source "apps/testfaulthandlers/Kconfig"
    source "apps/testcontrolname/Kconfig"
    source "apps/simplesingleaddressspace/Kconfig"
    source "apps/testsingleaddressspaceheap/Kconfig"
    source "apps/testgrouping/Kconfig"
    source "apps/testgroupingcontrol/Kconfig"
    source "apps/teststringarrays/Kconfig"
    source "apps/testhardwareinterrupt/Kconfig"
    source "apps/testreplycapprotection/Kconfig"
    source "apps/testdataportptrwrap/Kconfig"
    source "apps/testnto1mmio/Kconfig"
    source "apps/testnto1overload/Kconfig"
    source "apps/testbufvariant/Kconfig"
    source "apps/testdataportmuxflat/Kconfig"
    source "apps/testdataportbifurcate/Kconfig"
    source "apps/testdataportrpc/Kconfig"
    source "apps/testcamkes438/Kconfig"
    source "apps/testltouser/Kconfig"
    source "apps/pit/Kconfig"
    source "apps/testsyscalls/Kconfig"
    source "apps/alignment/Kconfig"
    source "apps/rumprun_pthreads/Kconfig"
    source "apps/rumprun_hello/Kconfig"
    source "apps/rumprun_ethernet/Kconfig"
endmenu

source "tools/camkes/Kconfig"
source "$COMMON_PATH/Kconfig"
