# @TAG(NICTA_BSD)
#

menuconfig APP_KEYBOARD
    bool "Keyboard example"
    default n
    depends on ARCH_IA32
    select MODULE_CAPDL_LOADER 
    help
        An example of using keyboard in CAmkES.
