#
# Copyright 2015, NICTA
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
# @TAG(NICTA_BSD)
#

config APP_CS_DONATE
    bool "client server sc donate test"
    default n
    help
        CAmkES RT test: client server scenario, server does not have its own scheduling context.
