# @TAG(DATA61_GPL)
#

config APP_BINARY_SEMAPHORE
    bool "Binary semaphore example"
    default n
    help
        An application demonstrating using a binary semaphore to serialise an async interface
