# @TAG(NICTA_BSD)
#

config APP_AEROPLAGE
    bool "Multi-level secure terminal prototype (mark 1)"
    default n
    help
        A prototype of a multi-level secure terminal constructed as a case
        study for HiSeas.
