# @TAG(DATA61_BSD)
#

config APP_MULTICLIENT
    bool "Example of multi-clients connect to the same server."
    default n 
    help
        An application to demonstrate one server is connected to multiple clients.
