# @TAG(DATA61_BSD)
#

config APP_TESTGROUPINGCONTROL
    bool "Testing grouping two control components"
    default n
    help
        This application tests a scenario where two component instances which
        both have control threads are grouped together in a single address
        space. If this works correctly, both control threads should exist and
        be able to operate independently.

        This was never actually a CAmkES bug, but my own paranoia made me think
        this case might be buggy. It remains a good case to regularly test to
        ensure we do not break this functionality.
