#
# Copyright 2017, Data61
# Commonwealth Scientific and Industrial Research Organisation (CSIRO)
# ABN 41 687 119 230.
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
# @TAG(DATA61_BSD)
#
#

menuconfig APP_DHCP
    bool "DHCP server and clients"
    default n
    help
        An application based on a DHCP server setup with some clients. Intended
        to be the subject of a verification case study.

config APP_DHCP_DEBUG
    bool "Enable debug printing"
    default y
    depends on APP_DHCP
    help
        Enable debug print outs for this application.
