# @TAG(DATA61_BSD)
#

config APP_HIERARCHICAL_COMPONENTS
    bool "CAmkES application demonstrating hierarchical components"
    default n
    help
        CAmkES application demonstrating hierarchical components"
